*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
}
h1,h2,h3,h4{
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    user-select: none;
    text-transform: capitalize;
    font-weight: normal;
}
p{
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    user-select: none;
    text-transform: capitalize;
}
figcaption{
    user-select: none;
    text-transform: capitalize;
}