:root {
  --favcolor: #8f4e35;
  --browncolor:#392224;
}
body {
  background-color: #392224;
  > header {
    background-color: #392224;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* border: 2px solid black; */
    width: 100%;
    height: 100px;
    display: flex;
    gap: 24px;
    > figure {
      /* border: 1px solid black; */
      width: 10%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        /* width: 100%; */
        /* height: 100%; */
        object-fit: cover;
      }
    }
    > nav {
      width: 80%;
      display: flex;
      align-items: center;
      >.number {
        color: white;
        font-size: 14px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: capitalize;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-right: 0px;
        user-select: none;
      }
      > ul {
        display: flex;
        justify-content: right;
        /* border: 1px solid black; */
        height: 100%;
        padding-left: 400px;
        > li {
          /* border: 1px solid black; */
          padding: 0 20px;
          position: relative;
          &:hover {
            &::before {
              width: 100%;
            }
            > a {
              color: var(--favcolor);
            }
          }
          &::before {
            content: "";
            width: 0;
            height: 2px;
            display: flex;
            position: absolute;
            left: 0;
            bottom: 10px;
            transition: 0.3s;
            background-color: var(--favcolor);
          }
          > a {
            color: white;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            text-transform: capitalize;
            font-size: 16px;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            position: relative;
          }
          &:hover{
            >ul{
              opacity: 1;
              visibility: visible;
            }
          }
          > ul {
            position: absolute;
            top: 100px;
            left: 0;
            width: 180%;
            height: 100px;
            background-color: white;
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
            &:hover {
              opacity: 1;
            }
            > li {
              background-color: white;
              width: 100%;
              height: 50px;
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s;
              > a {
                color: black;
                font-size: 16px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                text-transform: capitalize;
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                padding: 10px;
                transition: 0.3s;
                &:hover {
                  color: var(--favcolor);
                }
              }
            }
          }
        }
      }
      
    }
    .box {
        width: 10%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        > a {
          width: 90%;
          height: 65%;
          color: white;
          background-color: var(--favcolor);
          font-size: 16px;
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          text-transform: capitalize;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .5s;
          &:hover{
            background-color: #8f4f358b;
        }
        }
      }
  }
   /* end header */
.first{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 0;left: 0;
  >.pic{
    object-fit: cover;
    >img{
      width: 100%;
      /* border: 3px solid black; */
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  }
  >.box2{
    position: absolute;
    /* border: 1px solid green; */
    top: 400px;
    left: 150px;
    width: 50%;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    >h2{
      /* background-color: rgba(0, 0, 0, 0.462); */
      color: white;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-transform: capitalize;
      font-size: 90px;
      position: absolute;
      bottom: 30%;
      padding-bottom: 50px;
      user-select: none;
    }
    >p{
      /* background-color: rgba(255, 0, 0, 0.329); */
      /* width: 10%; */
      height: 100px;
      font-size: 30px;
      color: white;
      position: absolute;
      top: 50%;
      left: 0;
      padding-bottom: 100px;
      padding-left:5px ;
      user-select: none;
    }
}
>a{
  /* border: 1px solid red; */
  color: white;
  background-color: var(--favcolor);
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: capitalize;
  position: absolute;
  top: 500px;
  left: 150px;
  padding: 15px;
  transition: .5s;
  &:hover{
        background-color: #8f4f358b;
    }
}
}
 /* end first page  */
 >h2{
  color: var(--browncolor) ;
  background-color: white;
  /* border: 1px solid black; */
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
 .secound{
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  >.side{
    /* border: 1px solid black; */
    width: 40%;
    /* height: 100%; */
    padding-top: 160px;
    padding-left: 160px;
    position: relative;
    >h2{
      color: var(--favcolor);
      font-size: 30px;
      /* text-align: center; */
      position: absolute;
      left: 255px;
    }
    >p{
      color: rgba(0, 0, 0, 0.505);
      position: absolute;
      font-size: 16px;
      left: 255px;
      top: 280px;
      /* padding-top: 30px;
      padding-left: 100px; */
    }
    >.box4{
      width: 170px;
      height: 50px;
      background-color: var(--favcolor);
      /* border: 1px solid black; */
      position: absolute;
      top: 390px;
      left: 255px;
      &:hover{
        >a{
        background-color: #683e2d;
        }
      }
      >a{
        color: white;
        /* border: 1px solid black; */
        font-size: 20px;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        transition:.5s;
      }
    }
  }
  .photo{
    /* border: 1px solid black; */
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: right;
    >figure{
      position: relative;
      &:first-of-type{
        >img{
           object-fit: cover;
           position: absolute;
           right: 100px;
           top: 100px;
        }
      }
      &:last-of-type{
        >img{
          object-fit: cover;
          position: absolute;
          right: 100px;
          top: 390px;
        }
      }
    }
  }
 }
 /* end secound page  */
 .third{
  width: 100%;
  min-height: 100vh;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 150px;
  >div{
    position: relative;
    top: 0;
    left: 0;
    &:nth-of-type(1){
            &:hover{
        >figure{
          >img{
            transform: scale(1.1);
          }
        }
      }
      >figure{
        overflow: hidden;
        >img{
          object-fit: cover;
          /* display: block;
          width: 100%;
          height: 100%; */
          transform-origin: center center;
          transition: .5s;
        }
        >h3{
          color: var(--browncolor);
          font-size: 25px;
          padding: 20px 0;
        }
        figcaption{
          font-size: 16px;
          color: rgba(0, 0, 0, 0.516);
        }
      }
    }
    &:nth-of-type(2){
      &:hover{
        >figure{
          >img{
            transform: scale(1.1);
          }
        }
      }
      >figure{
        overflow: hidden;
        >img{
          object-fit: cover;
          transition: .5s;
        }
        >h3{
          color: var(--browncolor);
          font-size: 25px;
          padding: 20px 0;
        }
        figcaption{
          font-size: 16px;
          color: rgba(0, 0, 0, 0.516);
        }
      }
    }
    &:nth-of-type(3){
            &:hover{
        >figure{
          >img{
            transform: scale(1.1);
          }
        }
      }
      >figure{
        overflow: hidden;
        >img{
          object-fit: cover;
          transition: .5s;
        }
        >h3{
          color: var(--browncolor);
          font-size: 25px;
          padding: 20px 0;
        }
        figcaption{
          font-size: 16px;
          color: rgba(0, 0, 0, 0.516);
        }
      }
    }
  }
 }
 /* end third page  */
 .forth{
  width: 100%;
  min-height: 100vh;
  /* border: 1px solid black; */
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  >div{
    &:nth-of-type(1){
      width: 50%;
      /* border: 1px solid black; */
      >h2{
        color: var(--favcolor);
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 200px;
      }
      >p{
        color: rgba(0, 0, 0, 0.537);
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 200px;
      }
    }
    &:nth-of-type(2){
      width: 50%;
      /* border: 1px solid black; */
      >h2{
        color: var(--favcolor);
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: left;
      }
        >.check-in{
          width: 70%;
          height: 50px;
          color: var(--favcolor);
        }
        >.check-out{
          width: 70%;
          height: 50px;
          color: var(--favcolor);
        }
        >.room{
          width: 70%;
          height: 50px;
          color: var(--favcolor);
        }
        >.guest{
          width: 70%;
          height: 50px;
          color: var(--favcolor);
        }
        >.box5{
          width: 70%;
          height: 50px;
          &:hover{
            >a{
              background-color: #683e2d;
            }
          }
        >a{
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
          /* border: 1px solid black; */
          background-color: var(--favcolor);
          color: white;
          transition: .5s;
        }
      }
    }
  }
 }
 /* end third page  */
 .fifth{
  width: 100%;
  min-height: 100%;
  background-color: white ;
  /* border: 1px solid black; */
  /* display: flex; */
  >div{
    background-color:#8f4f3530;
    width: 100%;
    /* height: 100%; */
    /* margin: 0 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
      width: 100%;
    &:nth-of-type(1){
      padding-top: 50px;
      >h3{
        padding-left: 100px;
        >a{
          color: var(--favcolor);
          font-size: 40px;
          width: 80%;
          /* border: 1px solid black; */
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      >p{
        font-size: 20px;
        color: rgba(0, 0, 0, 0.542);
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }
    &:nth-of-type(2){
      width: 100%;
      padding-top: 50px;
      >h3{
        padding-left: 100px;
        >a{
          color: var(--favcolor);
          font-size: 40px;
          width: 80%;
          /* border: 1px solid black; */
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      >p{
        font-size: 20px;
        color: rgba(0, 0, 0, 0.542);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
  }
  }
 >figure{
  /* position: relative; */
  /* top: 0; */
  /* left: 0; */
  display: flex;
  width: 100%;
  height: 100%;
  >div{
    display: flex;
    /* position: absolute; */
    width: 307px;
    height: 250px;
    /* top: 0; */
    /* left: 0; */
    /* z-index: 1; */
    >img{
      &:nth-of-type(1){
        object-fit: cover;
        width: 100%;
      }
      &:nth-of-type(2){
        object-fit: cover;
        width: 100%;
      }
      &:nth-of-type(3){
        object-fit: cover;
        width: 100%;
      }
      &:nth-of-type(4){
        object-fit: cover;
        width: 100%;
      }
      &:nth-of-type(5){
        object-fit: cover;
        width: 100%;
      }
    }
 }
 }
}
 /* end fifth pagr  */
 .sixth{
  width: 100%;
  min-height: 80vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
    >figure{
      position: relative;
      >a{
      top: 0;left: 0;
      >img{
        object-fit: cover;
        width: 50%;
        /* padding-bottom: 20px; */
        position: absolute;
        bottom: 150px;
        /* border: 1px solid red; */
        /* left: 90px; */
      }
    }
      >figcaption{
        font-size: 20px;
        color: rgba(0, 0, 0, 0.519);
        /* padding-top: 20px; */
        >div{
          border: 1ps solid red;
          display: flex;
          gap: 20px;
          padding-top: 20px;
          >a{
            /* padding: 0 10px; */
            /* border: 1px solid red; */
            >span{
              /* border: 1px solid black; */
              display: flex;
              /* gap: 15px; */
              width: 30px;
              height: 30px;
              color: var(--browncolor);
              &:hover{
                color: var(--favcolor);
              }
      
            }
          }
        }
      }
    }
  >.menu{
    >h4{
      font-size: 30px;
      color: var(--browncolor);
    }
    >ul{
      >li{
        width: 100px;
        height: 40px;
        padding: 10px 0;
        position: relative;
        top: 0;left: 0;
        &:hover{
          &::before {
            width: 100%;
          }
          >a{
          color: #cd5e32;
          }
        }
        &::before {
          content: "";
          width: 0px;
          height: 1px;
          display: flex;
          position: absolute;
          /* left: 0; */
          bottom: 0px;
          transition: 0.5s;
          background-color: var(--favcolor);
        }
        >a{
          color: var(--browncolor);
          font-size: 16px;
          /* border: 1px solid black; */
          display: flex;
          height: 100%;
          align-items: center;
          transition: .3s;
          /* justify-content: center; */
        }
      }
    }
  }
  >.address{
    >h4{
      font-size: 30px;
      color: var(--browncolor);
    }
    >p{
      color:rgba(0, 0, 0, 0.519) ;
      font-size: 16px;
    }
    >a{
      color:#cd5e32

    }
  }
 }
 /* end sixth page  */
footer{
  background-color: var(--favcolor);
  padding: 10px 0;
  >p{
    color: #2c1416;
    font-size: 20px;
    text-align: center;
    >a{
      color: white;
      transition: 0s;
      text-transform: lowercase;
      &:hover{
        color: #2c1416;
      }
    }
  }

}
}